
<div id="post_container_detailed">
<h2>Post #<%= @post.author.posts.index(@post) + 1 %></h2>
<h3><%= @post.title %></h3>
<p>Comments: <%= @post.comments_count %></p>
<p>Likes: <%= @post.likes_count %></p>
<p><%= @post.text %></p>

 <%= render partial: 'likes/like_action', locals: { post: @post, user: @current_user, like: Like.new } %>

<ul id="comments_container">
  <% @post.comments.each do |comment| %>
    <li id="comment">
      <%= comment.user.name %>:
      <%= comment.text %>
      <%= comment.created_at %>
    </li>
  <% end %>




</ul>

<div id="comment_textbox">
  <%= render partial: 'comments/new', locals: { user: @user, post: @post, comment: @comment } %>
</div>
</div>